<body class="text-left">
    <form class="form-pull">
        <h1 class="h3 mb-3 font-weight-normal">One Arm Row</h1>
        <label for="set1" class="sr-only">Set 1</label>
        <input type="sets" id="1" class="form-control" placeholder="Set 1" required autofocus>
        <label for="set2" class="sr-only">Set 2</label>
        <input type="sets" id="2" class="form-control" placeholder="Set 2" required>
        <label for="set3" class="sr-only">Set 3</label>
        <input type="sets" id="3" class="form-control" placeholder="Set 3" required autofocus>
        <label for="set4" class="sr-only">Set 4</label>
        <input type="sets" id="4" class="form-control" placeholder="Set 4" required autofocus>

        <h1 class="h3 mb-3 font-weight-normal">Two Arm Row</h1>
        <label for="set1" class="sr-only">Set 1</label>
        <input type="sets" id="1" class="form-control" placeholder="Set 1" required autofocus>
        <label for="set2" class="sr-only">Set 2</label>
        <input type="sets" id="2" class="form-control" placeholder="Set 2" required>
        <label for="set3" class="sr-only">Set 3</label>
        <input type="sets" id="3" class="form-control" placeholder="Set 3" required autofocus>
        <label for="set4" class="sr-only">Set 4</label>
        <input type="sets" id="4" class="form-control" placeholder="Set 4" required autofocus>

        <h1 class="h3 mb-3 font-weight-normal">Rear Delt Fly</h1>
        <label for="set1" class="sr-only">Set 1</label>
        <input type="sets" id="1" class="form-control" placeholder="Set 1" required autofocus>
        <label for="set2" class="sr-only">Set 2</label>
        <input type="sets" id="2" class="form-control" placeholder="Set 2" required>
        <label for="set3" class="sr-only">Set 3</label>
        <input type="sets" id="3" class="form-control" placeholder="Set 3" required autofocus>
        <label for="set4" class="sr-only">Set 4</label>
        <input type="sets" id="4" class="form-control" placeholder="Set 4" required autofocus>


        <h1 class="h3 mb-3 font-weight-normal">Shrugs</h1>
        <label for="set1" class="sr-only">Set 1</label>
        <input type="sets" id="1" class="form-control" placeholder="Set 1" required autofocus>
        <label for="set2" class="sr-only">Set 2</label>
        <input type="sets" id="2" class="form-control" placeholder="Set 2" required>
        <label for="set3" class="sr-only">Set 3</label>
        <input type="sets" id="3" class="form-control" placeholder="Set 3" required autofocus>
        <label for="set4" class="sr-only">Set 4</label>
        <input type="sets" id="4" class="form-control" placeholder="Set 4" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Finish</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>