{% extends 'layout.html' %}

{% block body %}
<form action="/workout" method="POST">
    <h3>Workout Information</h3>
    Workout<br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Workout<br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Workout<br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Workout<br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>

    Reps<br>
    <input type="text" name="reps" /><br>


    <input type="submit" value="submit" /><br>
</form>
{% endblock %}